opc ua
[{"id":"df1220e.93906e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9654b455.b7bde8","type":"OPCUA-IIoT-Server-Command","z":"df1220e.93906e","commandtype":"restart","nodeId":"","name":"Restart","x":296,"y":227,"wires":[["a2eb7998.fae5c8"]]},{"id":"3ca00be5.1a5f54","type":"OPCUA-IIoT-Server-ASO","z":"df1220e.93906e","nodeId":"ns=1;s=DFCVWHAirIn","browsename":"DFCVWHAirIn","displayname":"DFCVWHAirIn","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"Add Folder","x":313,"y":40,"wires":[["a2eb7998.fae5c8"]]},{"id":"8c4a2c4d.f142e","type":"debug","z":"df1220e.93906e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":953,"y":107,"wires":[]},{"id":"f67b3c8d.2c0ba","type":"OPCUA-IIoT-Server-ASO","z":"df1220e.93906e","nodeId":"ns=1;s=FreshAirTempD","browsename":"FreshAirTempD","displayname":"FreshAirTempD","objecttype":"BaseDataVariableType","datatype":"Float","value":"25.0","referenceNodeId":"ns=1;s=DFCVWHAirIn","referencetype":"Organizes","name":"Add ASO FreshAirTempD","x":347,"y":79,"wires":[["a2eb7998.fae5c8"]]},{"id":"172036db.0b1639","type":"OPCUA-IIoT-Inject","z":"df1220e.93906e","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"5","name":"","addressSpaceItems":[],"x":107,"y":51,"wires":[["3ca00be5.1a5f54","f67b3c8d.2c0ba"]]},{"id":"3b531bb4.d56f74","type":"OPCUA-IIoT-Server-ASO","z":"df1220e.93906e","nodeId":"ns=1;s=EStop","browsename":"EStop","displayname":"EStop","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=DFCVWHAirIn","referencetype":"Organizes","name":"Add ASO EStop","x":317,"y":159,"wires":[["a2eb7998.fae5c8"]]},{"id":"2ef43405.df2a7c","type":"OPCUA-IIoT-Server-ASO","z":"df1220e.93906e","nodeId":"ns=1;s=BoolTest","browsename":"BoolTest","displayname":"BoolTest","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"null","referenceNodeId":"ns=1;s=DFCVWHAirIn","referencetype":"Organizes","name":"Add ASO BoolTest","x":326,"y":193,"wires":[["a2eb7998.fae5c8"]]},{"id":"cccb97b3.0c9a18","type":"OPCUA-IIoT-Server-ASO","z":"df1220e.93906e","nodeId":"ns=1;s=SupplyFanRun","browsename":"SupplyFanRun","displayname":"SupplyFanRun","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"0","referenceNodeId":"ns=1;s=DFCVWHAirIn","referencetype":"Organizes","name":"Add ASO SupplyFanRun","x":346,"y":120,"wires":[["a2eb7998.fae5c8"]]},{"id":"76c0bb2a.8812a4","type":"OPCUA-IIoT-Inject","z":"df1220e.93906e","injectType":"write","payload":"FreshAirTempD","payloadType":"global","topic":"","repeat":"0.5","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[{"name":"FreshAirTempD","nodeId":"ns=1;s=FreshAirTempD","datatypeName":"Float"}],"x":158,"y":302,"wires":[["c74a178d.07ae68"]]},{"id":"18651d45.c47463","type":"OPCUA-IIoT-Inject","z":"df1220e.93906e","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"5","name":"","addressSpaceItems":[],"x":101,"y":228,"wires":[["9654b455.b7bde8"]]},{"id":"a2eb7998.fae5c8","type":"OPCUA-IIoT-Server","z":"df1220e.93906e","port":"55388","endpoint":"opc.tcp://localhost","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"asoDemo":true,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":1,"discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerBrowse":2000,"delayToClose":1000,"x":736,"y":111,"wires":[["8c4a2c4d.f142e"]]},{"id":"b55b7e1f.f533d","type":"OPCUA-IIoT-Inject","z":"df1220e.93906e","injectType":"write","payload":"EStop","payloadType":"global","topic":"","repeat":"0.5","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[{"name":"EStop","nodeId":"ns=1;s=EStop","datatypeName":"Boolean"}],"x":126,"y":346,"wires":[["c74a178d.07ae68"]]},{"id":"51f9026.5a190fc","type":"OPCUA-IIoT-Inject","z":"df1220e.93906e","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"5","name":"","addressSpaceItems":[],"x":110,"y":113,"wires":[["cccb97b3.0c9a18"]]},{"id":"7e74999c.e1ea68","type":"OPCUA-IIoT-Inject","z":"df1220e.93906e","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"5","name":"","addressSpaceItems":[],"x":108,"y":161,"wires":[["3b531bb4.d56f74","2ef43405.df2a7c"]]},{"id":"c74a178d.07ae68","type":"OPCUA-IIoT-Write","z":"df1220e.93906e","connector":"58dfa762.ac8bb8","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":419,"y":314,"wires":[[]]},{"id":"58dfa762.ac8bb8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":""}]
