S7-Communication
[{"id":"2d0303ec.d9e5bc","type":"tab","label":"S7-Communication","disabled":false,"info":""},{"id":"c9f1bed1.ec204","type":"s7 in","z":"2d0303ec.d9e5bc","endpoint":"124ac00f.ffc9c","mode":"single","variable":"FreshAirHumiD","diff":true,"name":"","x":120,"y":295,"wires":[[]]},{"id":"e9120b91.6a70a8","type":"s7 in","z":"2d0303ec.d9e5bc","endpoint":"296fc488.d3006c","mode":"single","variable":"SupplyAirTemp","diff":true,"name":"","x":112,"y":168,"wires":[["fadd9c52.2a21c"]]},{"id":"4c4765ce.0d75ec","type":"s7 in","z":"2d0303ec.d9e5bc","endpoint":"124ac00f.ffc9c","mode":"all","variable":"FreshAirTempD","diff":true,"name":"DFCVWHAirIn","x":99,"y":55,"wires":[["4b1e840.deab37c","82053b7b.7d1348"]]},{"id":"4b1e840.deab37c","type":"function","z":"2d0303ec.d9e5bc","name":"","func":"context.global.set('FreshAirTempD',msg.payload.FreshAirTempD);\ncontext.global.set('SupplyFanRun',msg.payload.FanRun);\ncontext.global.set('EStop',msg.payload.EStop);","outputs":0,"noerr":0,"x":303,"y":22,"wires":[]},{"id":"82053b7b.7d1348","type":"debug","z":"2d0303ec.d9e5bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":301,"y":67,"wires":[]},{"id":"90fe7624.cb2bf8","type":"debug","z":"2d0303ec.d9e5bc","name":"","active":true,"console":"false","complete":"true","x":645,"y":131,"wires":[]},{"id":"5099af2a.fd5d","type":"function","z":"2d0303ec.d9e5bc","name":"Merge the two","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"temp\":\n        context.data.temp = msg.payload;\n        msg = null;\n        break;\n    case \"humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temp != null && context.data.humidity != null ) {\n\tmsg2 = {};\n    msg2.payload = \"Temp is:\"+context.data.temp+\" Humidity is:\"+context.data.humidity;\n    \n    context.data=null;\n\treturn msg2;\n} ","outputs":1,"noerr":0,"x":491,"y":132,"wires":[[]]},{"id":"fadd9c52.2a21c","type":"function","z":"2d0303ec.d9e5bc","name":"temp","func":"msg.topic=\"temp\";\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":170,"wires":[["5099af2a.fd5d"]]},{"id":"b543483e.591968","type":"function","z":"2d0303ec.d9e5bc","name":"humidity","func":"msg.topic=\"humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":288,"y":113,"wires":[["5099af2a.fd5d"]]},{"id":"3dee8ebb.7040f2","type":"debug","z":"2d0303ec.d9e5bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":554,"y":250,"wires":[]},{"id":"4479bd50.3e1cf4","type":"function","z":"2d0303ec.d9e5bc","name":"","func":"var temp = {}\ntemp.payload = msg.payload.FreshAirTempD\nreturn temp","outputs":1,"noerr":0,"x":277,"y":288,"wires":[["3dee8ebb.7040f2"]]},{"id":"124ac00f.ffc9c","type":"s7 endpoint","z":"","address":"192.168.1.2","port":"102","rack":"0","slot":"2","localtsaphi":"02","localtsaplo":"01","remotetsaphi":"02","remotetsaplo":"01","connmode":"tsap","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB1,REAL2000","name":"FreshAirTempD"},{"addr":"DB1,REAL2004","name":"FreshAirHumiD"},{"addr":"I0.6","name":"FanRun"},{"addr":"I0.0","name":"EStop"}]},{"id":"296fc488.d3006c","type":"s7 endpoint","z":"","address":"192.168.0.1","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"MR1108","name":"SupplyAirTemp"}]}]
